/* Test Site Styles */

html {
  scroll-behavior: smooth;
}

.bg-img {
  background-image: url("../img/bg-img.jpg"); /* Add custom pic */
  background-size: cover;
  background-position: center top !important;
}

.text-light {
  color: white;
}

.icon-sm {
  font-size: 2em;
}

.icon-lg {
  font-size: 5em;
}

.icon-light {
  color: white;
}

.icon-dark {
  color: black;
}

/*
  Bootstrap .container class interferes w/ printing on Safari v8.0
  Following fix suggested by Bootstrap docs
*/

@media print {
  .container {
    width: auto;
  }
}
